<section>
<div id="disqus_thread"></div>
<script>
	var disqus_config = function () {
	this.page.url = document.querySelector("link[rel='canonical']").getAttribute("href");
	this.page.identifier = "{{ page.url }}";
	};
	(function() {
	var d = document, s = d.createElement('script');
	s.src = 'https://blog-salif-eu.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
</script>
<noscript>Моля позволете JavaScript за да видите <a href="https://disqus.com/?ref_noscript">Disqus коментарите.</a></noscript>
</section>
