@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/Alegreya/Alegreya-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/Alegreya/Alegreya-MediumItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/Alegreya/Alegreya-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/Alegreya/Alegreya-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/Alegreya/Alegreya-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/Alegreya/Alegreya-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/Alegreya_Sans/AlegreyaSans-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/Alegreya_Sans/AlegreyaSans-MediumItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/Alegreya_Sans/AlegreyaSans-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/Alegreya_Sans/AlegreyaSans-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/Alegreya_Sans/AlegreyaSans-Bold.ttf) format('truetype');
}
