<!doctype html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% seo %}
    <meta name="robots" content="index, follow" />
    {% feed_meta %}
    <link rel="stylesheet" href="/assets/css/simple.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/fonts.css" />
    {% include icons.html %}
  </head>

  <body>

    <header>
      <h1>{{ site.title }}</h1>

      {% include navigation.html %}
    </header>

    <main id="top">
      <br />
      {{ content }}
    </main>

    <footer>
      <p>
        <a href="/абониране">RSS (Atom)</a>
        {% if site.git_web_base %}• <a href="{{ site.git_web_base }}{{ page.path }}">Преглед на кода</a>{% endif %}
      </p>
    </footer>
    {% include counter.html %}
  </body>
</html>
